<!DOCTYPE html>
<html lang="zn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <title>异物检测系统</title>
    <script src="../static/lib/hls.min.js"></script>
    <!-- Favicons -->
    <script src="../static/lib/js/echarts.min.js"></script>
    <link href="../static/img/favicon.png" rel="icon">
    <!-- Bootstrap core CSS -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="../static/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--   Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/lib/open-iconic/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="../static/css/upload/style.css">
    <link rel="stylesheet" href="../static/css/dropzone.min.css" type="text/css">
    {{ dropzone.style('margin: 20px 0; border: 2px dashed #0087F7; min-height: 400px;') }}

</head>

<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start 导航栏-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
            </div>
            <!--logo start-->
            <a href="index.html" class="logo hd-title"><img src="static/img/logo.png" style="height: 50px;"></a>
            <!--logo end-->
            <div class="notify-row hd-title">
                <b>阳泉煤业（集团）有限责任公司井下皮带异物检测系统</b>
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu" style="display:none;">
                    <li><a class="logout" href="{{ url_for('logout') }}">退出登录</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** data-toggle="modal" data-target="#exampleModal"-->
        <!--sidebar start 左侧边栏,展示设备列表-->
        <aside style="cursor:pointer">
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li class="sub-menu" id="lookAll">
                        <a href="javascript:">
                            <i class="fa fa-desktop"></i>
                            <span>查看所有设备</span>
                        </a>
                    </li>

                    {% for camera in devices %}
                    <li class="sub-menu">
                        <a href="javascript:">
                            <i class="glyphicon glyphicon-facetime-video"></i>
                            <span>{{ camera.name }}</span>
                        </a>
                        <ul class="sub">
                            <li><span class="select" id={{ "device%sLook" | format(camera.id) }}>预览</span></li>
                            <li><span class="select" id={{ "device%sSet" | format(camera.id) }}>配置</span></li>
                        </ul>
                    </li>
                    {% endfor %}
                    <br>
                    <li class="sub-menu" id="deviceExercise">
                        <a>
                            <i class="glyphicon glyphicon-play"></i>
                            <span>训练</span>
                        </a>
                    </li>
                    <li class="sub-menu" id="lookHistory">
                        <a data-toggle="modal" data-target="#exampleModal3">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span>预警记录</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:">
                            <i class="glyphicon glyphicon-share"></i>
                            <span>海康威视</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start 中间视频显示区域-->
        <section id="main-content">
            <section class="wrapper">
                <div id="midDisplay" class="row col-lg-9">
                    <div class="col-lg-12 main-chart">
                        <div id="allDevice" class="row mt">
                            <!-- SERVER STATUS PANELS -->

                            {% for camera in devices %}
                            <div class="col-md-4 col-sm-4 mb block" id={{ "device%s" | format(camera.id) }}>
                                <div class="grey-panel pn donut-chart">
                                    <video id={{ "serverstatus%s" | format(camera.id) }} muted="muted" class="midImage"
                                        height="37%" width="100%" draggable="false">
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- 配置 -->
                    <div class="row mt" id="set" style="display: none;">
                        <div class="col-md-12 col-sm-12 mb">
                            <div class="grey-panel pn donut-chart">
                                <form class="form" method="post">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h1>配置</h1>
                                            {{ form.camera_id(style='display: none;') }}
                                            <hr>
                                        </div>
                                        <div class="col-xs-6 form-label">摄像头名称</div>
                                        <div class="col-xs-6 form-label">IP地址</div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.name(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.ip(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-label">用户名</div>
                                        <div class="col-xs-6 form-label">密码</div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.username(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.password(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-label">所属矿井</div>
                                        <div class="col-xs-6 form-label">画面增强</div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.client(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.enhancement(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-12">
                                            <hr>
                                        </div>
                                        <div class="col-xs-6 form-label">启用功能</div>
                                        <div class="col-xs-6 form-label">异物检测模型（仅在开启皮带异物检测功能时生效）</div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.mode(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.network(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-label">一般预警阈值（仅在开启皮带异物检测功能时生效）</div>
                                        <div class="col-xs-6 form-label">危险预警阈值（仅在开启皮带异物检测功能时生效）</div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.nor_lim(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.ext_lim(class_='form-control') }}
                                        </div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.borderline(style='display: none;') }}
                                        </div>
                                        <div class="col-xs-6 form-input">
                                            {{ form.start_point(style='display: none;') }}
                                        </div>
                                        <!-- {#                                    <div class="col-xs-6 form-label">图像增强</div>#}
                                        {#                                    <div class="col-xs-6 form-input">#}
                                        {#                                        {{ form.enhancement(class_='form-control') }}#}
                                        {#                                    </div>#} -->
                                        <div class="col-xs-12 form-button">
                                            <button id="setArea" type="button" class="btn btn-default"
                                                data-toggle="modal" data-target="#exampleModal">设置检测区域
                                            </button>
                                            <button id="setLine" type="button" class="btn btn-default"
                                                data-toggle="modal" data-target="#exampleModal">设置边界
                                            </button>
                                        </div>
                                        <div class="col-xs-12">
                                            <hr>
                                        </div>
                                        <!-- {#                                    <div class="col-xs-6 form-label">启用跑偏检测</div>#}
                                        {#                                    <div class="col-xs-6 form-label">边界</div>#}
                                        {#                                    <div class="col-xs-6 form-input">#}
                                        {#                                        {{ form.setCrossLineDetection(class_='form-control') }}#}
                                        {#                                    </div>#}
                                        {##} -->
                                        <div class="col-xs-12">
                                            {{ form.submit(class_='btn btn-default') }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--上传文件-->
                    <div class="row mt" id="upload" style="display: none;">
                        <div class="col-md-12 col-sm-12 mb">
                            <div class="grey-panel pn donut-chart" id="test">
                                <div class="page-header">
                                    <h1>上传</h1>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ dropzone.create(action='upload') }}
                                    </div>
                                    <input id="Done" class="btn btn-default modal-btn" type="button" value="完成" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--画图-->
                    <div class="row mt" id="draw" style="display:none;">
                        <div class="col-md-12 col-sm-12 mb">
                            <div class="grey-panel pn donut-chart">
                                <div id="setMidImage" class="row mid-context">
                                </div>
                                <div class="pr2-social centered">
                                    <div class="modal-footer my-footer">
                                        <nav aria-label="Page navigation" class="newImag">
                                            <input type="text" style="display: none;" id="imageMaxPage" value="20">
                                            <ul class="pagination" id="imagePage">
                                                <li class="pagination" id="imageLeftPage"><a><span
                                                            aria-hidden="true">&laquo;</span></a>
                                                </li>
                                                <li class="active" id="imagePage1"><a>1</a></li>
                                                <li class="pagination" id="imagePage2"><a>2</a></li>
                                                <li class="pagination" id="imagePage3"><a>3</a></li>
                                                <li class="pagination" id="imagePage4"><a>4</a></li>
                                                <li class="pagination" id="imagePage0"><a>...</a></li>
                                                <li class="pagination" id="imagePage5"><a>5</a></li>
                                                <li class="pagination" id="imageRightPage"><a><span
                                                            aria-hidden="true">&raquo;</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 mb">
                            <div class="grey-panel pn donut-chart">
                                <div class="grey-header col-md-12 col-sm-12">
                                    <button type="button" id="tmpSave" class="btn btn-default tmp-btn">保存</button>
                                    <button type="button" id="uploadImage" class="btn btn-default">上传图片</button>
                                </div>
                                <div class="row mid-context" id="tmpImg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col-lg-9 END SECTION MIDDLE -->
                <!-- **********************************************************************************************************************************************************
                RIGHT SIDEBAR CONTENT
                *********************************************************************************************************************************************************** -->
                </div>
                <!-- /row -->
                <!-- 右侧边栏 -->
                <div id="rightSide" class="row col-lg-3">
                    <div class="col-lg-12 ds" id="tableGraph">
                        <!--COMPLETED ACTIONS DONUTS CHART-->
                        <div class="panel terques-chart">
                            <div class="chart">
                                <div class="text-primary" style="border: 1px solid #ddd">近30天发生预警次数</div>
                                <div id="main" style="width: 100%;height:300px;"></div>
                            </div>
                        </div>
                        <div class="donut-main" style="width:100%; height:100%; overflow-y: scroll;">
                            {#                        {% if infos %}#}
                            <table class="table table-bordered text-primary my-table">
                                <thead>
                                    <tr>
                                        <th>摄像头名称</th>
                                        <th>日期</th>
                                        <th>预警级别</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                            </table>
                        </div>
                        <!-- RECENT ACTIVITIES SECTION -->
                    </div>
                    <div class="col-lg-12 ds right-img" id="showImage" style="display: none;">
                        <div id="historyTable" class="col-md-12 col-sm-12 side-footer">
                            <div class="row col-lg-12 side-context">
                                <div id="image0" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                                <div id="image1" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                                <div id="image2" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                            </div>
                            <div class="row col-lg-12 side-context">
                                <div id="image3" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                                <div id="image4" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                                <div id="image5" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                            </div>
                            <div class="row col-lg-12 side-context">
                                <div id="image6" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                                <div id="image7" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                                <div id="image8" class="col-md-4 col-sm-4 display-image aside-imgae">
                                    <div class="grey-panel pn donut-chart">
                                        <img height="25%" width="100%" />
                                    </div>
                                    <!-- /grey-panel -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 side-footer block-footer">
                            <div class="img-footer col-xs-10">
                                <nav aria-label="Page navigation">
                                    <input type="text" style="display: none;" id="asideMaxPage" value="5">
                                    <ul class="pagination footer-pagination" id="asidePage">
                                        <li class="pagination" id="asideLeftPage"><a><span
                                                    aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="active" id="asidePage1"><a>1</a></li>
                                        <li class="pagination" id="asidePage2"><a>2</a></li>
                                        <li class="pagination" id="asidePage3"><a>3</a></li>
                                        <li class="pagination" id="asidePage4"><a>4</a></li>
                                        <li class="pagination" id="asidePage0"><a>...</a></li>
                                        <li class="pagination" id="asidePage5"><a>5</a></li>
                                        <li class="pagination" id="asideRightPage"><a><span
                                                    aria-hidden="true">&raquo;</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="buttom-footer col-xs-2">
                                <button type="button" class="btn btn-default btn-footer" id="startExercise">训练</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!--main content end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        id="exampleModal">
        <div class="modal-dialog modal-lg" role="document" id="drawModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="model-faa">
                            <div class="grey-header">
                                <input id="clear" class="btn btn-default modal-btn" type="button" value="清除" />
                            </div>
                            <canvas id="canvas" width="868" height="720">您的浏览器不支持 canvas 标签</canvas>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="ok">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>

                    <!--用户登录-->
                    <h4 class="modal-title" id="exampleModalLabel">登陆</h4>
                    <input type="text" id="loginTitle" style="display: none;">
                </div>
                <div class="modal-body">
                    <form id="formLogin" method="post">
                        <div class="form-group">
                            <label for="account" class="control-label">用户名:</label>
                            <input type="text" name="account" class="form-control" id="account">
                        </div>
                        <div class="form-group">
                            <label for="pd" class="control-label">密码:</label>
                            <input type="pd" name="password" class="form-control" id="pd">
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="login">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">查看</h4>
                    <input type="text" style="display: none;" id="maxPage" value="5">
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                所有设备
                                <span class="caret"></span>
                            </button>
                            <input type="text" value="all" style="display: none;" id="selectDevice">
                            <ul class="dropdown-menu history-dropdown" aria-labelledby="dropdownMenu1">
                                <li id="selectall"><a>所有设备</a></li>
                                {% for camera in devices %}
                                <li id={{ "select%s" | format(camera.id) }}><a>{{ camera.name }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="dropdown dropdown-float">
                                <input class="btn btn-default date-size" type="text" id="datepicker1">
                                <span>——</span>
                            </div>
                            <div class="dropdown dropdown-float">
                                <input class="btn btn-default date-size" type="text" id="datepicker2">
                            </div>
                            <div class="dropdown dropdown-float">
                                <button class="btn btn-default" type="button" id="query">查询</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>摄像头</th>
                                <th>日期</th>
                                <th>预警级别</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="historyBody">
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="tablePage">
                                <li class="pagination" id="tableLeftPage"><a><span aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="active" id="tablePage1"><a>1</a></li>
                                <li class="pagination" id="tablePage2"><a>2</a></li>
                                <li class="pagination" id="tablePage3"><a>3</a></li>
                                <li class="pagination" id="tablePage4"><a>4</a></li>
                                <li class="pagination" id="tablePage0"><a>...</a></li>
                                <li class="pagination" id="tablePage5"><a>5</a></li>
                                <li class="pagination" id="tableRightPage"><a><span
                                            aria-hidden="true">&raquo;</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="datailClose"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">详情</h4>
                </div>
                <div class="modal-body">
                    <div class="grey-header detail-bar col-md-12 col-sm-12">
                        <button type="button" id="deleteImg" class="btn btn-default footer-btn">删除图片</button>
                        <button type="button" id="resetImg" class="btn btn-default footer-btn">重置图片</button>
                    </div>
                    <img id="detailImg" width="100%">
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document" id="drawModal2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <div class="grey-header col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-6 select-group">
                            <div class="btn-group">
                                <button type="button" id="drawclear" class="btn btn-default">重画</button>
                                <button type="button" id="save" class="btn btn-default">确定</button>

                            </div>
                        </div>
                        <div class="select-group col-md-6 col-sm-6">
                            <div class="dropdown select-group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">异物类型<span
                                        class="caret"></span></button>
                                <ul class="dropdown-menu type-dropwn" aria-labelledby="dropdownMenu2" id="classes">
                                    <li id="type1"><a>石块</a></li>
                                    <li id="type2"><a>树枝</a></li>
                                </ul>
                            </div>
                        </div>
                        <input id="ImgId" type="text" style="display: none;" />
                    </div>
                </div>
                <div class="modal-body">
                    <div class="model-fbb">
                        <canvas id="drawImage" width="570" height="420">您的浏览器不支持 canvas 标签</canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        id="SmallModal" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="datailClose"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>注意：训练过程中本系统检测功能将被暂停，仅能作为监控系统使用！！！</p>
                    <p>预计训练时长为1-4个小时，具体时长与当前图片库中图片数量有关</p>
                    <p>您确定要对系统进行训练吗？</p>
                </div>
                <div class="modal-footer" id="count-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="isExercise">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        id="message">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" id="content">
            </div>
        </div>
    </div>

    <div class="modal fade" id="fullScreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog myModal" role="document" id="drawModal3">
            <div class="modal-content">
                <div class="modal-header myModal-header" style="display: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeFullScr"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="grey-header col-md-12 col-sm-12">
                        <input id="fullScr-id" type="text" style="display: none;" />
                    </div>
                </div>
                <div class="modal-body myModal-body">
                    <video src="" muted="muted" class="single-imgae" id="single"></video>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../static/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../static/lib/jquery.scrollTo.min.js"></script>
    <script src="../static/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="../static/lib/common-scripts.js"></script>
    <script src="../static/lib/js/index.js" charset="UTF-8"></script>
    <script src="../static/lib/dropzone.min.js"></script>
    <script src="../static/lib/js/jquery-ui.min.js"></script>
    <script src="../static/lib/js/hls.min.js"></script>
    {{ dropzone.config() }}
</body>

</html>